ProyectoACS/xml-resources/web-service-references/WebServices/wsdl/localhost_8081/Servicios_ACS/WebServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Web/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Web/">

<xs:element name="Login" type="tns:Login" />

<xs:element name="LoginResponse" type="tns:LoginResponse" />

<xs:complexType name="Login">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0" />
<xs:element name="contrase" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>